<div class="bshare-custom">   分<br />享<br />:<br />
	<a title="分享到QQ空间" class="bshare-qzone"></a><br/>
	<a title="分享到新浪微博" class="bshare-sinaminiblog"></a><br/>
	<a title="分享到人人网" class="bshare-renren"></a><br/>
	<a title="分享到腾讯微博" class="bshare-qqmb"></a>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh">
</script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

    
    <!-- {% if settings.ENABLE_SHARING_TENGXUN %}{{ macros.share(site = 'tengxun', site_label = 'TengXun') }},{% endif %}
    {% if settings.ENABLE_SHARING_WEIBO %}{{ macros.share(site = 'weibo', site_label = 'WeiBo') }},{% endif %}
    {% if settings.ENABLE_SHARING_KAIXIN %}{{ macros.share(site = 'kaixin', site_label = 'KaiXin') }},{% endif %}
    {% if settings.ENABLE_SHARING_RENREN %}{{ macros.share(site = 'renren', site_label = 'RenRen') }},{% endif %}
{% if settings.ENABLE_SHARING_GOOGLE %}<g:plusone size="small" count="false"></g:plusone>{% endif %} -->
<style>
	.bshare-custom a{ line-height:5px;}
</style>